  section#search {
    background-color: $base-light;
    border: 1px solid rgba(255,255,255,0.5);
    color: $white;
    float: right;
    font-family: $statedecoded-stack3;
    margin-top: 70px;
    padding: 10px;
    width: 50%;

    @include respond-to(smartphone) {
      float: none;
      font-size: 70%;
      height: 50px;
      margin: -1em -1.2em 1em -1.5em;
      width: 115%;
    }

    @include respond-to(tablet) {
      margin-top: 2.5em;
      font-size: 75%;
      width: 60%;
    }

    label {
      display: block;
      font-size: 13px;
      margin-bottom: 8px;
      @include respond-to(smartphone) {
        display: none;
      }
    }

    input[type="search"] {
      width: 65%;
      @include respond-to(smartphone) {
        font-size: 100%;
        width: 220px;
      }
      @include respond-to(tablet) {
        font-size: 125%;
        width: 325px;
      }
    } // input

    input[type="submit"] {

    }

    a {
      color: $white;
      font-size: 10px;
      line-height: 28px;
      margin-left: 20px;
    }

  } // section#search