// *****************************************************************************
// DROP DOWN VARIABLES
// *****************************************************************************

$dropdownBackground:            $white;
$dropdownBorder:                $shadowLighter;
$dropdownLinkColor:             $grayDark;
$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   $linkColor;