// *****************************************************************************
// DROP DOWN VARIABLES
// *****************************************************************************

$dropdownBackground:            $white;
$dropdownBorder:                $shadow-lighter;
$dropdownlink-color:             $gray-dark;
$dropdownlink-colorHover:        $white;
$dropdownLinkBackgroundHover:   $link-color;