@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

/*
################################################################################
# Homepage style declarations
################################################################################

These styles are for the marketing/landing page of The State Decoded.

*/

.homepage {

  hgroup {
    text-align: center;
    margin-top: 1.5em;

    h1 {
      font-family: $statedecoded-stack1;
      font-size: 225%;
      font-weight: normal;
      line-height: 100%;
      margin: 0.1em 0; // Override system-wide typography
    } //h1

    h2 {
      font-family: $statedecoded-stack3;
      font-size: 87.5%;
      font-weight: normal;
      letter-spacing: 0.1em;
      line-height: 87.5%;
      text-transform: uppercase;

      @include respond-to(smartphone) {
        margin: 0;
      }
    } //h2
  } // hgroup

  section.feature-content {
    float: left;
    margin-right: 1%;
    width: 49%;

    @include respond-to(smartphone) {
      float: none;
      width: 100%;
    }

    @include respond-to(tablet) {
      float: none;
      width: 100%;
    }
  } // section.feature-content

  section.secondary-content {
    float: right;
    margin-top: 30px;
    width: 50%;

    @include respond-to(smartphone) {
      float: none;
      width: 100%;
    }

    @include respond-to(tablet) {
      float: none;
      width: 66%;
    }

    article.abstract {
      font-size: 87.5%;
      position: relative;
    
      &:nth-child(1) {
        border-right: 1px solid #ccc;
        float: left;
        margin-bottom: 20px;
        padding-right: 5%;
        width: 50%;

        @include respond-to(smartphone) {
          border-right: none;
          float: none;
          width: 100%;
        }

        @include respond-to(tablet) {
        }
      }
      
      &:nth-child(2) {
        float: right;
        margin-bottom: 20px;
        width: 45%;

        @include respond-to(smartphone) {
          float: none;
          width: 100%;
        }

        @include respond-to(tablet) {
        }
      }
      
      &:nth-child(3) {
        margin: 20px 0;
      }
      
      figure {
        height: 125px;
        margin: 20px 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        width: 100%;

        @include respond-to(smartphone) {
          height: 75px;
        }

        @include respond-to(tablet) {
          height: 100px;
        }

        img {
          position: absolute;
            top: -120px;
            left: 0;
          width: 100%;

          @include respond-to(smartphone) {
            top: -70px;
          }

          @include respond-to(tablet) {
            top:-150px;
          }
        }
      } // figure
    
      h1 {
        font-family: $statedecoded-stack3;
        font-size: 107.1428%;
        font-weight: normal;
        margin: 0;
        text-transform: uppercase;
      }

  } // article.abstract

  } // section.secondary-content

} // .homepage

div.nest.video {
}

div.video-frame {
  background-color: $white;
  box-shadow: 0 0 20px rgba(0,0,0,0.75);
  float: right;
  margin-top: -150px;
  position: relative;
  width: 50%;
  z-index: 100;

  @include respond-to(smartphone) {
    float: none;
    margin: 1em 0;
    position: relative;
      top: 0;
    width:100%;
  }
  
  @include respond-to(tablet) {
    float: none;
    margin: 2em 0;
    position: relative;
      top: 0;
    width: 100%;
  }

  div.video-container {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 30px;
    width: 100%;

    iframe,
    object,
    embed,
    img,
    video {
      border: 10px solid white;
      position: absolute;
        top: 0;
        left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
 
      @include respond-to(smartphone) {
        border: 5px solid white;
      }
    }
  }
} // .video-frame

.nest {
  max-width: 960px;
}

/*
################################################################################
# Law page
################################################################################

These styles are for the law#show pages of The State Decoded.

*/

body.law {
  .nest {
    max-width: none;
    padding: 0 40px;
    width: 100%;
  }
  
  section#main_content {
    overflow: hidden;
  }
  
  section.law-detail {
    float: left;
    margin-right: 1%;
    width: 49%;
  }
  
  section.secondary-content {
    float: right;
    width: 49%;
    
    & > section {

  //    @include opacity(.5); // layer alpha
      border: 1px solid #e4e9e7; // stroke
      background-color: #fcfdfa; // layer fill content + color overlay
      @include box-shadow(inset 0 2px 20px rgba(111,114,117,.15)); // inner shadow
      margin-bottom: 1em;
      margin-right: 1%;
      padding: 0 1em;
      width: 32%;
      
      h1 {
        font-size: 18px;
        margin: 0.5em 0;
        text-transform: uppercase;
      }
      
      &.header-bar-full {
        float: none;
        width: 100%;
        h1 {
          background-color: #656358;
          color: #fff;
          font-size: 30px;
          font-weight: normal;
          margin: 0 -0.5em;
          padding: 0.25em 0.5em;
          text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
        } // h1
      } // &.header-bar-full
      
      &#legal_self_help {}
      
      &#history {}
      
      &#amendment_attempts {}
      
      &#court_decisions {}
      
      &#cross_references {}
    }
  }
}