/*
################################################################################
# Homepage style declarations
################################################################################

These styles are for the marketing/landing page of The State Decoded.

*/

.homepage {

  hgroup {
    text-align: center;

    h1 {
      font-family: $statedecoded-stack1;
      font-size: 225%;
      font-weight: normal;
      line-height: 100%;
      margin: 0.1em 0; // Override system-wide typography
    } //h1

    h2 {
      font-family: $statedecoded-stack3;
      font-size: 87.5%;
      font-weight: normal;
      letter-spacing: 0.1em;
      line-height: 87.5%;
      text-transform: uppercase;
    } //h2
  } // hgroup

  section.feature-content {
    float: left;
    margin-right: 1%;
    width: 49%;
  } // section.feature-content

  section.secondary-content {
    float: right;
    width: 50%;
  } // section.secondary-content

} // .homepage

div.video-frame {
  background-color: $white;
  box-shadow: 0 0 20px rgba(0,0,0,0.75);
  float: right;
  height: 35%;
  padding: 10px;
  position: relative;
    top: -150px;
  width: 50%;
  z-index: 100;

} // .video-frame

.nest {
  max-width: 960px;
}