// Breakpoints are:
// Moble Devices: smartphone, smartphone-hires, tablet, tablet-hires, tablet-portrait, tablet-portrait, tablet-landscape
// Laptop/Desktop: TBD

$smartphone-width-min: 320px;
$smartphone-width-max: 480px;

$tablet-width-min: 768px;
$tablet-width-max: 1024px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == smartphone { //  Smartphone
    @media
      only screen and (min-device-width : $smartphone-width-min) and (max-device-width : $smartphone-width-max),
      only screen and (min-width : $smartphone-width-min) and (max-width : $smartphone-width-max)
      { @content; }
  }
  @if $breakpoint == smartphone-hires { // Smartphone + HiRes/Retina Screen
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width : $smartphone-width-min) and (max-width : $smartphone-width-max),
      only screen and ( min--moz-device-pixel-ratio: 2) and (min-width : $smartphone-width-min) and (max-width : $smartphone-width-max),
      only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width : $smartphone-width-min) and (max-width : $smartphone-width-max),
      only screen and ( min-device-pixel-ratio: 2)  and (min-width : $smartphone-width-min) and (max-width : $smartphone-width-max),
      only screen and ( min-resolution: 192dpi) and (min-width : $smartphone-width-min) and (max-width : $smartphone-width-max),
      only screen and ( min-resolution: 2dppx) and (min-width : $smartphone-width-min) and (max-width : $smartphone-width-max)
      { @content; }
  }
  @if $breakpoint == tablet { // Tablet, iPad
    @media
      only screen and (min-device-width : $tablet-width-min) and (max-device-width : $tablet-width-max),
      only screen and (min-width : $tablet-width-min) and (max-width : $tablet-width-max)
       { @content; }
  }
  @if $breakpoint == tablet-hires { // Tablet, iPad + Retina
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width : $tablet-width-min) and (max-device-width : $tablet-width-max),
      only screen and ( min--moz-device-pixel-ratio: 2) and (min-device-width : $tablet-width-min) and (max-device-width : $tablet-width-max),
      only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-device-width : $tablet-width-min) and (max-device-width : $tablet-width-max),
      only screen and ( min-device-pixel-ratio: 2)  and (min-device-width : $tablet-width-min) and (max-device-width : $tablet-width-max),
      only screen and ( min-resolution: 192dpi) and (min-device-width : $tablet-width-min) and (max-device-width : $tablet-width-max),
      only screen and ( min-resolution: 2dppx) and (min-device-width : $tablet-width-min) and (max-device-width : $tablet-width-max)
      { @content; }
  }
  @else if $breakpoint == tablet-landscape {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { @content; }
  }
  @else if $breakpoint == tablet-portrait {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { @content; }
  }
}